@using TGMCO.Models.Util;
@using TGMCO.Models.Entity;
@using TGMCO.Models;

@model SUPPLIER

@{
    ViewBag.Title = "Tuấn Gia Minh | " + @Model.SUPPLIER_NAME;
    Layout = "~/Views/Shared/_BoschLayout.cshtml";
    ViewBag.Description = "Nhà cung cấp dụng cụ xây dựng, dụng cụ điện " + Model.SUPPLIER_NAME;   
}

@{
    ProductModel m_PRODUCT_MODEL = new ProductModel();
    UrlFriendly m_URL = new UrlFriendly();
    SupplierModel m_SUPPLIER_MODEL = new SupplierModel();
    NewsModel m_NEWS_MODEL = new NewsModel();
    
    List<PRODUCT> m_lstPRODUCT = (List<PRODUCT>)ViewBag.lstNEW_PRODUCT;
    List<PRODUCT> m_lstACCESSORY = (List<PRODUCT>)ViewBag.lstNEW_ACCESSORY;
    List<NEWS> m_lstNEWS = (List<NEWS>)ViewBag.lstNEWS;    
    
}
<div style="width: 100%; height: 500px;">

</div>
<div id="Bosch-Slide" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img class="img-responsive" src="http://images.vn.bosch-pt.com/vn/media/common_media_files/desktop_be/professional_be_desktop/images_be/startpage_home_be/main_teaser_slider_be/kv_teaser_toolboxapp.png" alt="...">
            <div class="carousel-caption">
                
            </div>
        </div>
        <div class="item">
            <img class="img-responsive" src="http://images.vn.bosch-pt.com/vn/media/be_country/be_country_desktop/be_country_professional/be_country_professional_images/be_country_startpage_desktop/be_country_professional_main_teaser/kv_main_facebook_vn.png" alt="...">
            <div class="carousel-caption">
               
            </div>
        </div>
        <div class="item">
            <img class="img-responsive" src="http://images.vn.bosch-pt.com/vn/media/common_media_files/desktop_be/professional_be_desktop/images_be/startpage_home_be/main_teaser_slider_be/kv_teaser_glm100c_v2.png" alt="...">
            <div class="carousel-caption">
                
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#Bosch-Slide"  role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" style="font-size: 60px;"></span>
    </a>
    <a class="right carousel-control" href="#Bosch-Slide" style="font-size: 60px;" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" style="font-size: 60px;"></span>
    </a>
</div>
<div id="Content">
    <div id="Tab-Bosch" class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1default" data-toggle="tab">Dụng cụ mới</a></li>
                <li><a href="#tab2default" data-toggle="tab">Phụ kiện mới</a></li>
                <li><a href="#tab3default" data-toggle="tab" style="width: 334px;">Chương trình khuyến mãi</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1default">
                    @foreach (var product in m_lstPRODUCT)
                    {
                    <div class="col-sm-3 product-cart">
                        <div class="col-item">
                            @if (product.IS_NEW)
                            {
                                <div class="shape">
                                    <div class="shape-text">
                                        Mới
                                    </div>
                                </div>
                            }
                            <a href="@Url.Action("Detail_Bosch", "Product", new { id = product.PRODUCT_ID, supplier = m_URL.GenerateURL(m_SUPPLIER_MODEL.GetSupplierName(@product.SUPPLIER_ID)), product = m_URL.GenerateURL(@product.PRODUCT_NAME) })" class="photo">
                                <img id="Image-Product" src="@Url.Content(@m_PRODUCT_MODEL.GetImage1(product.PRODUCT_ID))" class="img-responsive" alt="@product.PRODUCT_NAME" title="@product.PRODUCT_NAME" />
                            </a>
                            <div class="info">
                                <div class="Name-Product">
                                    <h5>@product.PRODUCT_NAME</h5>
                                </div>
                                <div class="Price-Product">
                                    <h5 class="price-text-color">
                                        <strong>Giá: </strong>
                                        @string.Format("{0:0,0}", @product.UNIT_PRICE) VND
                                    </h5>
                                </div>
                                <div class="separator">
                                    <button type="button" onclick="AddProduct(this)" id="btnAddProduct" data-ajax="true" data-id="@product.PRODUCT_ID" data-code="@product.PRODUCT_CODE" class="btn btn-default btnShopNow" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> <strong>Thêm vào giỏ</strong>
                                    </button>
                                </div>
                                <div class="clearfix">
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
                <div class="tab-pane fade" id="tab2default">
                    @foreach (var product in m_lstACCESSORY)
                    {
                        <div class="col-sm-3 product-cart">
                            <div class="col-item">
                                @if (product.IS_NEW)
                                {
                                    <div class="shape">
                                        <div class="shape-text">
                                            Mới
                                        </div>
                                    </div>
                                }
                                <a href="@Url.Action("Detail_Bosch", "Product", new { id = product.PRODUCT_ID, supplier = m_URL.GenerateURL(m_SUPPLIER_MODEL.GetSupplierName(@product.SUPPLIER_ID)), product = m_URL.GenerateURL(@product.PRODUCT_NAME) })" class="photo">
                                    <img id="Image-Product" src="@Url.Content(@m_PRODUCT_MODEL.GetImage1(product.PRODUCT_ID))" class="img-responsive" alt="@product.PRODUCT_NAME" title="@product.PRODUCT_NAME" />
                                </a>
                                <div class="info">
                                    <div class="Name-Product">
                                        <h5>@product.PRODUCT_NAME</h5>
                                    </div>
                                    <div class="Price-Product">
                                        <h5 class="price-text-color">
                                            <strong>Giá: </strong>
                                            @string.Format("{0:0,0}", @product.UNIT_PRICE) VND
                                        </h5>
                                    </div>
                                    <div class="separator">
                                        <button type="button" onclick="AddProduct(this)" id="btnAddProduct" data-ajax="true" data-id="@product.PRODUCT_ID" data-code="@product.PRODUCT_CODE" class="btn btn-default btnShopNow" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> <strong>Thêm vào giỏ</strong>
                                        </button>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="tab-pane fade" id="tab3default">
                    @foreach (var news in m_lstNEWS)
                    {
                        <div class="col-sm-4 product-cart">
                            <div class="col-item">
                                <a href="@Url.Action("News_Bosch_Detail", "News", new { id = news.NEWS_ID})" class="photo">
                                    <img id="" src="@Url.Content(@m_NEWS_MODEL.GetImage(news.NEWS_ID))" width="100%" class="img-responsive" alt="@news.TITLE" title="@news.TITLE" />
                                </a>
                                <div class="info">
                                    <div class="Name-Product">
                                        <h5>@news.TITLE</h5>
                                    </div>
                                    <div class="Price-Product">
                                        <h5 class="price-text-color">
                                            <strong>@news.CONTENT_2 </strong>
                                        </h5>
                                    </div>
                                    <div class="separator">
                                        <a href="/News/News_Bosch_Detail/?id=@news.NEWS_ID" id="btnAddProduct" class="btn btn-default btnShopNow" aria-label="Left Align">
                                             <strong style="color: white;">Xem chi tiết</strong>
                                        </a>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div id="Menu-Bosch">
        <a href="@Url.Action("Category_Bosch", "Category", new { cate_id = 35 })">
            <div id="Item1" class="Menu-Item pull-left">
                <h3><span>Danh mục sản phẩm</span></h3>
                <div class="h4">
                    <span>Nhận danh mục sản phẩm Dụng cụ điện cầm tay mới nhất trực tuyến hay yêu cầu được gửi tới tận nhà bạn!</span>
                </div>
                <div class="teaser-button">
                    <button title="Tới Danh mục sản phẩm" class="btn btn-red teaser-banner-target" role="button">Tới Danh mục sản phẩm</button>
                </div>
            </div>
        </a>
        <a href="http://cordless.vn.bosch-pt.com/vn/vi/home-action1.html?WT.tsrc=PT">
            <div id="Item2" class="Menu-Item pull-right">
                <h3 class="pull-right"><span>Dành cho nhà vô địch --<br>Dụng cụ dung pin Bosch</span></h3>
                <div class="h4 pull-right">
                    <span class="pull-right">Kiểm tra đội vô địch và khám phá những điều bí mật của 11 công nghệ sáng tạo của chúng tôi. Hãy sẵn sang để trở thành nhà vô địch</span>
                </div>
                <div class="teaser-button pull-right">
                    <button title="Tới Danh mục sản phẩm" class="btn btn-red teaser-banner-target" role="button">Khám phá</button>
                </div>
            </div>
        </a>

    </div>
    <div id="Menu-Bosch">
        <a href="/Home/ContactUs">
            <div id="Item3" class="Menu-Item pull-left">
                <h3><span>Đường dây nóng Hỗ<br>trợ khách hàng</span></h3>
                <div class="h4">
                    <span>Bạn có bất cứ thắc mắc gì về<br>các sản phẩm hay dịch vụ<br>của chúng tôi không?</span>
                </div>
                <div class="teaser-button">
                    <button title="Tới Danh mục sản phẩm" class="btn btn-red teaser-banner-target" role="button">Chỉ cần gọi cho tôi</button>
                </div>
            </div>
        </a>
        <a href="/Agencies/Agency_Bosch">
            <div id="Item4" class="Menu-Item pull-right">
                <h3 class="pull-right"><span>Sơ đồ trực quan hóa <br />Tìm đại lý bán hàng</span></h3>
                <div class="h4 pull-right">
                    <span class="pull-right">Sơ đồ trực quan hóa Tìm đại lý bán hàng</span>
                </div>
                <div class="teaser-button pull-right">
                    <button title="Tới Danh mục sản phẩm" class="btn btn-red teaser-banner-target" role="button">Tìm đại lý</button>
                </div>
            </div>
        </a>

    </div>

    <div class="line"></div>
    <div class="fEndCredits">
        <p>Chào mừng bạn đến với Bosch Blue. Đây là trang web về các dụng cụ điện cầm tay chuyên nghiệp từ Bosch – dành cho các chuyên gia xây dựng và công nghiệp. Ban Dụng cụ điện cầm tay Bosch thuộc Tập đoàn Bosch là công ty dẫn đầu thị trường về sản phẩm dụng cụ điện cầm tay và các phụ kiện dụng cụ điện cầm tay. Những yếu tố thành công cốt lõi đó là sức mạnh cải tiến và tốc độ cải tiến. Với tư cách là một chuyên gia, bạn kỳ vọng nhiều điều: tốc độ, độ tin cậy, khả năng, độ bền bỉ – nói tóm lại: những kết quả ưu việt. Vì vậy tại sao bạn không đặt ra những kỳ vọng tương tự từ chính các sản phẩm dụng cụ điện cầm tay của mình? Dụng cụ điện cầm tay chuyên nghiệp từ Bosch được thiết kế vươn tới sự tuyệt hảo – đáp ứng được các tiêu chuẩn cao nhất về tốc độ, độ chính xác và mạnh mẽ để đem lại những thành quả to lớn và chuyên nghiệp. Dụng cụ điện cầm tay chuyên nghiệp từ Bosch - Sản phẩm dành cho các chuyên gia.</p>
    </div>
    <div class="line"></div>
</div>

<style>
    .img-responsive{
        width: 100%;
    } 
    .product-cart {
        padding: 1px;
        padding-bottom: 5px;
    }
</style>
<style>
    .fEndCredits {
        padding: 0 10px;
        margin-bottom: 7px;
        color: white;
        font-size: 10px;
        margin-top: 10px;
    }
    .line {
        background-color: #c3c3c4;
        color: #c3c3c4;
        width: 100%;
        margin: 0;
        margin-top: auto;
        padding: 0;
        height: 1px;
        border: none;
        overflow: hidden;
        display: block;
    }
    .Menu-Item .btn-red {
        margin-top: 10px;
        background: linear-gradient(to bottom, #dd8d8e 0%, #bf4b4c 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        border: medium none;
        color: #ffffff;
        font-weight: 500;
    } 
    .Menu-Item .h4 {
        font-size: 18px;
        float: none;
        margin: 0;
        padding: 0;
        width: auto;
        margin-top: 1px;
        width: 100%;
        
    }
        .Menu-Item .h4 span {
            padding: 7px 10px 7px;
            color: #FFF;
            background: rgba(0, 59, 106, 0.85);
            max-width: 285px;
            font-size: 0.8em;
            display: inline-block;
            font-weight: normal;
        } 
    .Menu-Item {
        width: 495px;
        margin-bottom: 10px;
        height: 210px;
        padding: 20px;
    }
        .Menu-Item h3 {
            padding-top: 0;
            margin-top: 0;
            display: inline-block;
            margin-bottom: 0;
        }
            .Menu-Item h3 span {
                padding: 6px 10px;
                color: #FFF;
                background: rgba(0, 59, 106, 0.85);
                display: inline-block;
            }
        #Item1 {
            background-image: url("http://images.vn.bosch-pt.com/vn/media/be_country/be_country_desktop/be_country_professional/be_country_professional_images/be_country_startpage_desktop/be_country_professional_footer_teaser/tv_sub_product_catalogue_vn.png");
        }
    #Item2 {
        background-image: url("http://images.vn.bosch-pt.com/vn/media/be_country/be_country_desktop/be_country_professional/be_country_professional_images/be_country_startpage_desktop/be_country_professional_footer_teaser/tv_sub_cordless_tools.png");
    }
    #Item3 {
        background-image: url("http://images.vn.bosch-pt.com/vn/media/common_media_files/desktop_be/professional_be_desktop/images_be/startpage_home_be/footer_subteaser_be/tv_footer_contact~1.png");
    }
    #Item4 {
        background-image: url("http://images.vn.bosch-pt.com/vn/media/common_media_files/desktop_be/professional_be_desktop/images_be/startpage_home_be/footer_subteaser_be/tv_footer_dealers.png");
    }
    #Tab-Bosch, #Tab-Bosch .panel-heading {
        background: transparent;
        border: 0;
    }
        #Tab-Bosch .panel-heading {
            background: transparent;
        }
        #Tab-Bosch .panel-body {
            background: #EEEEEF;
            text-align: center;
        }
        #Tab-Bosch li {
            
            margin-right: 1px;
            width: 333px;
            text-align: center;
            
            
        }
            #Tab-Bosch li a {
                font-size: 17px;
                color: white;
                padding: 20px 0;
                margin-top: 15px;
                background: #013B69;
            }
        #Tab-Bosch .active {
            background: #EEEEEF;
        }
            #Tab-Bosch .active a {
                color: black;
                background: #EEEEEF;
            }
    #Content {
        position: relative;
        z-index: 97;
        width: 1002px;
        margin: 0 auto;
    }
    #Bosch-Slide {
        position: absolute;
        width: 100%;
        top: 30px;
        left: 0;
        z-index: 1;
        margin: 0 auto;
    }
    .panel.with-nav-tabs .panel-heading {
        padding: 0;
    }

    .panel.with-nav-tabs .nav-tabs {
        border-bottom: none;
    }

    .panel.with-nav-tabs .nav-justified {
        margin-bottom: -1px;
    }
</style>



