@using TGMCO.Models;
@using TGMCO.Models.Entity;
@using PagedList.Mvc;
@model PagedList.IPagedList<NEWS>

@{
    ViewBag.Title = "Tuấn Gia Minh | Tin tức sự kiện ";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
    ViewBag.Description = "CÔNG TY TNHH TM TUẤN GIA MINH - Cung cấp thiết bị xây dựng, thiết bị công nghiệp, dụng cụ cầm tay, máy hàn, máy mài góc, máy cắt kim loại, dụng cụ đo chính xác, dụng cụ điện...";
}

@{
    NewsModel m_NEWS_MODEL = new NewsModel();
}

@section LeftMenu{
    @Html.Partial("~/Views/Partial/LeftMenu.cshtml")
}
<h1 style="text-align: center;color: white ; font-size: 20px; padding-top: 0; background-color: #30454A; margin-top: 0; margin-bottom: 5px; height: 35px; line-height: 1.6;">Tin tức sự kiện</h1>
<div class="col-md-12">
    @foreach(var news in Model)
    {
     <div class="row">
        <div class="col-md-12 post">
            <div class="row">
                <div class="col-md-12">
                    <h4>
                        <strong><a href="/News/News_Detail/?id=@news.NEWS_ID" class="post-title">@news.TITLE</a></strong>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 post-header-line">
                    <span class="glyphicon glyphicon-user"></span>by <a href="#">TGMCO</a> | <span class="glyphicon glyphicon-calendar"></span>@news.CREATED_DATE.ToString("dd-MM-yyyy") | 
                    <span class="glyphicon glyphicon-comment"></span><div class="fb-like" data-href="@Url.Content("http://www.vietnamtool.vn/News/News_Detail/?id=" + @news.NEWS_ID)" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div> | <span class="glyphicon glyphicon-tags">
                    </span>Tags : <a href="#"><span class="label label-info">Bosch</span></a> <a href="#">
                        <span class="label label-info">Máy cưa</span>
                    </a> <a href="#">
                        <span class="label label-info">
                            Tools
                        </span>
                    </a> <a href="#"><span class="label label-info">TGM</span></a>
                </div>
            </div>
            <div class="row post-content">
                <div class="col-md-3">
                    <a href="#">
                        <img src="@m_NEWS_MODEL.GetImage(news.NEWS_ID)" alt="@news.TITLE" title="@news.TITLE" class="img-responsive">
                    </a>
                </div>
                <div class="col-md-9">
                    <p>
                       @news.CONTENT_2
                    </p>
                    <p>
                        <a class="btn btn-read-more" href="/News/News_Detail/?id=@news.NEWS_ID">Chi tiết</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    }
</div>
<div style="text-align: center;">
    @*Tạo link liên kết các trang*@
    <div class="pagination">@Html.PagedListPager(Model, page => Url.Action("ManagingNews", "Admin", new { page = page }))</div>
</div>


<style>
    a:hover {
        text-decoration: none;
    }

    .btn {
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -o-transition: all .2s linear;
    }

    .btn-read-more {
        padding: 5px;
        text-align: center;
        border-radius: 0px;
        display: inline-block;
        border: 2px solid #F37232;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        color: #F37232;
        float: right;
    }

        .btn-read-more:hover {
            color: #FFF;
            background: #F37232;
        }

    .post {
        border-bottom: 1px solid #DDD;
    }

    .post-title {
        color: #F37232;
    }

    .post .glyphicon {
        margin-right: 5px;
    }

    .post-header-line {
        border-top: 1px solid #DDD;
        border-bottom: 1px solid #DDD;
        padding: 5px 0px 5px 15px;
        font-size: 12px;
    }

    .post-content {
        padding-bottom: 15px;
        padding-top: 15px;
    }

</style>

@section RightContent{

    @{
        Html.RenderAction("VerticalSlider", "Partial", new { _title = "Sản phẩm mới", _type = "New", _supplier_id = 0 });
    }

}

<div id="fb-root"></div>
<script>
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.6&appId=1454298961531347";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>