


<div id="Left-Menu">
    <div class="nav-side-menu">
        <div class="brand"><strong>MENU </strong></div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">

                <li data-toggle="collapse" data-target="#gioithieu" class="collapsed">
                    <a><i class="fa fa-info-circle fa-lg"></i> GIỚI THIỆU <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="gioithieu">
                    <a href="@Url.Action("About", "Home")"><li>Giới thiệu công ty</li></a>
                    <a href="@Url.Action("History", "Home")"><li>Lịch sử hình thành</li></a>
                    <a href="@Url.Action("Business", "Home")"><li>Lĩnh vực hoạt động</li></a>
                    <a href="@Url.Action("OrganizationalChart", "Home")"><li>Sơ đồ tổ chức</li></a>
                </ul>


                <li data-toggle="collapse" data-target="#tintuc" class="collapsed">
                    <a><i class="fa fa-globe fa-lg"></i> TIN TỨC <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="tintuc">
                    <a href="@Url.Action("News", "News")"><li>Tin tức sự kiện</li></a>
                    <a href="@Url.Action("News_Promotion", "News")"><li>Tin khuyến mãi</li></a>
                </ul>


                <li data-toggle="collapse" data-target="#huongdan" class="collapsed">
                    <a><i class="fa fa-question-circle fa-lg"></i> HƯỚNG DẪN <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="huongdan">
                    <a href="@Url.Action("GuideLogin", "Home")"><li>Hướng dẫn đăng nhập</li></a>
                    <a href="@Url.Action("GuideShoping", "Home")"><li>Hướng dẫn mua hàng</li></a>
                    <a href="@Url.Action("GuideResetPassword", "Home")"><li>Hướng dẫn lấy lại mật khẩu</li></a>
                </ul>

                <li data-toggle="collapse" data-target="#chinhsach" class="collapsed">
                    <a><i class="fa fa-shield fa-lg"></i> CHÍNH SÁCH <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="chinhsach">
                    <a href="@Url.Action("PrivacyPolicy", "Home")"><li>Chính sách bảo mật</li></a>
                    <a href="@Url.Action("ShippingPolicy", "Home")"><li>Chính sách vận chuyển</li></a>
                    <a href="@Url.Action("OrderProcessing", "Home")"><li>Quy trình giao hàng</li></a>
                    <a href="@Url.Action("ReturnPolicy", "Home")"><li>Chính sách đổi trả hàng</li></a>
                </ul>
                <li>
                    <a href="@Url.Action("ContactUs", "Home")"><i class="fa fa-check-circle fa-lg"></i> LIÊN HỆ</a>
                </li>
                <li>
                    <a href="@Url.Action("CheckBill", "Order")"><i class="fa fa-check-circle fa-lg"></i> KIỂM TRA ĐƠN HÀNG</a>
                </li>
            </ul>
        </div>
    </div>
    <!--END LEFT-MENU-->
</div>
<!-- DANH MỤC SP-->
<div id="Left-Menu">
    <div class="nav-side-menu">
        <div class="brand"><strong> DANH MỤC SẢN PHẨM </strong></div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">

                <li data-toggle="collapse" data-target="#products" class="collapsed">
                    <a><i class="fa fa-sitemap fa-lg"></i> NHÀ SẢN XUẤT <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse in" id="products">
                    <a href="@Url.Action("makita", "Home")"><li>Makita</li></a>
                    <a href="@Url.Action("bosch", "Home")"><li>Bosch</li></a>
                    <a href="@Url.Action("stanleyh", "Home")"><li>Stanley Hand Tool</li></a>
                    <a href="@Url.Action("stanleyp", "Home")"><li>Stanley Power Tool</li></a>
                    <a href="@Url.Action("dewalt", "Home")"><li>Dewalt</li></a>
                    <a href="@Url.Action("blackanddecker", "Home")"><li>Black and decker</li></a>
                </ul>                
            </ul>
        </div>
    </div>
    <!--END LEFT-MENU-->
</div>

<div id="Left-Menu">
    <div class="nav-side-menu">
        <div class="brand"><strong> CHI NHÁNH CỬA HÀNG</strong></div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse in">

                <li data-toggle="collapse" data-target="#agencies" class="" aria-expanded="true">
                    <a><i class="fa fa-gift fa-lg"></i> CHI NHÁNH <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse in" id="agencies" aria-expanded="true">
                    <li onmouseover="tooltip.pop(this, '#sub1', {position:1, offsetX:-20, effect:'slide'})"><a href="#">Hồ Chí Minh</a></li>
                    <li onmouseover="tooltip.pop(this, '#sub2', {position:1, offsetX:-20, effect:'slide'})"><a href="#">Đà Nẵng</a></li>
                    <li onmouseover="tooltip.pop(this, '#sub3', {position:1, offsetX:-20, effect:'slide'})"><a href="#">Đăk Lăk</a></li>
                </ul>
            </ul>
        </div>
    </div>

    <!--Menu Data-->
    <div style="display:none;">
        <div id="sub1">
            <div class="column">
                <h4> CHI NHÁNH TP HỒ CHÍ MINH</h4>
            </div>
            <div style="clear:both;"></div>
            <div style="width:250px;margin-top:16px;padding-top:12px;border-top:2px solid #666;">
            </div>
            <div>
                <span class="glyphicon glyphicon-home"></span> 10,12 Đường 59, Phường 10, Quận 6, TP Hồ Chí Minh
            </div>
            <div>
                <span class="glyphicon glyphicon-phone-alt"></span> (08) 38 591 896 - 091 9977 926
            </div>
            <div style="clear:both;"></div>
            <div style="width:250px;margin-top:16px;padding-top:12px;border-top:2px solid #666;">
            </div>
            <div>
                <span class="glyphicon glyphicon-home"></span> Tầng Trệt, 18A Đường Vạn Tượng, Phường 13, Quận 5, Thành Phố Hồ Chí Minh
            </div>
            <div>
                <span class="glyphicon glyphicon-phone-alt"></span> (08) 38 591 896 - 091 9977 926 - 090 2333 949
            </div>
        </div>
        <div id="sub2">
            <div class="column">
                <h4> CHI NHÁNH ĐÀ NẴNG</h4>
            </div>
            <div style="clear:both;"></div>
            <div style="width:250px;margin-top:16px;padding-top:12px;border-top:2px solid #666;">
            </div>
            <div>
                <span class="glyphicon glyphicon-home"></span> 664 Núi Thành, Phường Hoà Cường Nam, Quận Hải Châu, Đà Nẵng
            </div>
            <div>
                <span class="glyphicon glyphicon-phone-alt"></span> (08) 38 591 896 - 091 9977 926
            </div>
        </div>
        <div id="sub3">
            <div class="column">
                <h4> CHI NHÁNH ĐĂK LĂK</h4>
            </div>
            <div style="clear:both;"></div>
            <div style="width:250px;margin-top:16px;padding-top:12px;border-top:2px solid #666;">
            </div>
            <div>
                <span class="glyphicon glyphicon-home"></span> Số 104 đường Ngô Quyền, Phường Tân Lợi, TP.Buôn Ma Thuột, Đắk Lắc
            </div>
            <div>
                <span class="glyphicon glyphicon-phone-alt"></span> (08) 38 591 896 - 091 9977 926
            </div>
        </div>
    </div>
</div>

<style>
    #Left-Menu a{
        text-decoration: none;
        color: white;
    }
</style>