@using TGMCO.Models.Entity;
@using TGMCO.Models.Util;
@using TGMCO.Models;
@model List<PRODUCT>
@{
    CategoryModel m_CATEGORY_MODEL = new CategoryModel();
    List<CATEGORIES_BY_SUPPLIER> m_lstCategory = m_CATEGORY_MODEL.GetListAccessoryBySupplier(23);
    ProductModel m_PRODUCT_MODEL = new ProductModel();
    UrlFriendly m_URL = new UrlFriendly();
    SupplierModel m_SUPPLIER_MODEL = new SupplierModel();
}

@{
    ViewBag.Title = "Tuấn Gia Minh | Danh mục phụ kiện Bosch";
    Layout = "~/Views/Shared/_BoschLayout.cshtml";
    ViewBag.Description = "Nhà cung cấp dụng cụ xây dựng, dụng cụ điện Bosch"; 
}

<div id="Content">
    <div class="col-lg-3">
        <ul>
            <h5><strong><i class="fa fa-chevron-down" aria-hidden="true"></i> Phụ kiện</strong></h5>
            @foreach (var category in m_lstCategory)
            {
                <a href="@Url.Action("Category_Bosch", "Category", new { cate_id = category.CATEGORY_ID })">
                    <li>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> @category.CATEGORY_NAME
                    </li>
                </a>
            }
        </ul>
    </div>
    <div id="Main-Bosch" class="col-lg-9">
        <h1 style="font-size: 22px; font-weight: bold;">@ViewBag.CategoryName</h1>
        @foreach (var product in Model)
        {
            <div class="col-sm-4 product-cart">
                <div class="col-item">
                    @if (product.IS_NEW)
                    {
                        <div class="shape">
                            <div class="shape-text">
                                Mới
                            </div>
                        </div>
                    }
                    <a href="@Url.Action("Detail_Bosch", "Product", new { id = product.PRODUCT_ID, supplier = m_URL.GenerateURL(m_SUPPLIER_MODEL.GetSupplierName(@product.SUPPLIER_ID)), product = m_URL.GenerateURL(@product.PRODUCT_NAME) })" class="photo">
                        <img id="Image-Product" src="@Url.Content(@m_PRODUCT_MODEL.GetImage1(product.PRODUCT_ID))" class="img-responsive" alt="@product.PRODUCT_NAME" title="@product.PRODUCT_NAME" />
                    </a>
                    <div class="info">
                        <div class="Name-Product">
                            <h5>@product.PRODUCT_NAME</h5>
                        </div>
                        <div class="Price-Product">
                            <h5 class="price-text-color">
                                <strong>Giá: </strong>
                                @string.Format("{0:0,0}", @product.UNIT_PRICE) VND
                            </h5>
                        </div>
                        <div class="separator">
                            <button type="button" onclick="AddProduct(this)" id="btnAddProduct" data-ajax="true" data-id="@product.PRODUCT_ID" data-code="@product.PRODUCT_CODE" class="btn btn-default btnShopNow" aria-label="Left Align">
                                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> <strong>Thêm vào giỏ</strong>
                            </button>
                        </div>
                        <div class="clearfix">
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    function ShowProduct(id) {
        var id = id;
        history.pushState({}, "", "Category_Bosch?cate_id=" + id);
    }
</script>
<style>
    .product-cart {
        padding: 1px;
        padding-bottom: 5px;
    }
</style>
<style>
    #Content {
        background-color: white;
        height: auto;
        width: 1002px;
        display: table;
        font-size: 12px;
        padding-bottom: 40px;
        margin-bottom: 20px;
    }

        #Content a {
            color: black;
        }

        #Content i {
            font-size: 12px;
        }

    a:hover {
        text-decoration: none;
    }

    #Content li {
        font-weight: 500;
        line-height: 20px;
        text-decoration: none;
        padding: 0 0 0 17px;
    }

        #Content li:hover {
            background-color: #F1F1F1;
        }
</style>