@using TGMCO.Models.Entity;
@using TGMCO.Models;

@{
    CategoryModel m_CATEGORY_MODEL = new CategoryModel();
    List<CATEGORIES_BY_SUPPLIER> m_lstCategory = m_CATEGORY_MODEL.GetListCategoryBySupplier(23);
    List<CATEGORIES_BY_SUPPLIER> m_lstAccessory = m_CATEGORY_MODEL.GetListAccessoryBySupplier(23);    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="vi">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Author" content="TUANGIAMINH, admin@tgmco.com.vn">
    <meta name="copyright" content="TGMCO 2016">
    <meta name="Designer" content="TGMCO">
    <meta name="keywords" content="Việt Nam Tool, Tuấn Gia Minh, vietnamtool, Tuan gia minh, dung cu dien may, co khi, may han, may khoan, may mai, may cua, may cat, may duc be tong, may thoi khi, may cha nham, may danh bong, may ren, may tien ren, may ren ong, may taro, may phay, May bao, may dot dap, may dot lo, may danh canh, may phun son, may dam coc, may do kim loai, may uon sat, may uon ong, may soi go, may cha san, may van oc, may van vit, may ban oc, may ban vit, sung ban vit, sung ban dinh, may phat dien, may no, may bom nuoc, may bom dau, may nen khi, may say khi, may loc khong khi, may hut bui, may hut am, may tao am, may chieu, may van phong, thiet bi dien lanh, dien tu, gia dung, thiet bi quang cao, thiet bi phong chay, thiet bi cam tay, dung cu cam tay, thiet bi do luong, dung cu do chinh xac, thiet bi, cong nghe, cong nghiep, nong nghiep, y te, xay dung, han, khoan, cat, ve sinh, dien, dien tu, vien thong,ong, cong nghe dien, may moc, may han, may mai, may tron">
    <meta name="description" content="@ViewBag.Description">
    <meta name="robots" content="index,follow" />
    <meta name='revisit-after' content='1 days' />
    <meta name="geo.region" content="VN-SG" />
    <meta name="geo.placename" content="Ho Chi Minh" />
    <meta name="geo.position" content="10.776475;106.700883" />
    <meta name="ICBM" content="10.776475, 106.700883" />
    <meta name="Search Engines" content="www.altaVista.com, www.aol.com, www.infoseek.com, www.excite.com, www.hotbot.com, www.lycos.com, www.magellan.com, www.looksmart.com, www.cnet.com, www.voila.com, www.google.com, www.google.com.vn, www.bing.com, www.yahoo.com, www.alltheweb.com, www.msn.com, www.netscape.com, www.nomade.com">

    <link rel="shortcut icon" type="image/x-icon" href="~/Images/SYSTEM/icon.png" />`

    <!-- INCLUDE -->
    <!-- CSS -->
    <link href="~/Content/Admin_Layout/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/Page_Layout/css/main-menu.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Page_Layout/css/login-register.css">

    <link rel="stylesheet" type="text/css" href="~/Content/Page_Layout/css/main-content.css">

    <link rel="stylesheet" type="text/css" href="~/Content/Page_Layout/css/left-content.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Page_Layout/css/left-menu.css">

    <link rel="stylesheet" type="text/css" href="~/Content/Page_Layout/css/center-content.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Page_Layout/css/main-content-news.css">

    <link rel="stylesheet" type="text/css" href="~/Content/Page_Layout/css/right-content.css">

    <link rel="stylesheet" type="text/css" href="~/Content/Page_Layout/css/footer.css">

    <link rel="stylesheet" type="text/css" href="~/Content/Page_Layout/css/startup.css">

    <link rel="stylesheet" type="text/css" href="~/Content/Page_Layout/css/animate.css">

    <link rel="stylesheet" href="~/Content/Page_Layout/css/style.css">

    <link rel="stylesheet" type="text/css" href="~/Content/Page_Layout/css/new-product.css">

    <link rel="stylesheet" type="text/css" href="~/Content/Page_Layout/css/normalize.css"/>

    <!-- FONT + ICON -->
    <link rel="font" type="font" href="font/glyphicons-halflings-regular.woff">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- SCRIPT -->
    <script src="http://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="~/Content/Page_Layout/js/jquery.bootstrap.newsbox.min.js" type="text/javascript"></script>
    <script src="~/Content/Page_Layout/js/bootstrap.min.js"></script>
    <script src="~/Content/Page_Layout/js/myjs.js"></script>
    <script src="~/Content/Page_Layout/js/home-menu.js"></script>
    <script src="~/Content/Page_Layout/js/right-content.js"></script>


    <script src="~/Content/Page_Layout/themes/3/tooltip.js" type="text/javascript"></script>
    <link href="~/Content/Page_Layout/themes/3/tooltip.css" rel="stylesheet" type="text/css" />


    <!-- END INCLUDE -->
    <title>@ViewBag.Title</title>
</head>
<body style="font-family: Verdana, sans-serif;">

    <!-- TOP MENU -->
    <nav id="Main-Menu" class="navbar navbar-inverse navbar-fixed-top">
        @Html.Partial("~/Views/Partial/MainMenu.cshtml")
    </nav>
    <!-- END TOP MENU-->
    <div id="Top-Menu-Bosch">
        <div id="Top-MB" style="height: 63px; margin-bottom: 20px;">
            <div class="pull-left">
                <h1 style="font-size: 22px;"><span>Các dụng cụ điện cầm tay Bosch dùng trong</span><br><strong>ngành xây dựng &amp; công nghiệp</strong></h1>
            </div>
            <div id="Logo-Bosch" class="pull-right">
                <img src="http://images.vn.bosch-pt.com/vn/media/technical_media/beu_2/images_4/logo_3/logo_bosch_vi.gif" />
            </div>
        </div>
        <nav class="navbar navbar-default" id="Top-Bar-Bosch">

                <ul class="nav navbar-nav">
                    <li class=""><a href="/Home/bosch" style="font-size: 22px;"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                    <li class="show-on-hover">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sản phẩm <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" style="width: 300px;">    
                            @foreach(var category in m_lstCategory)
                            {
                            <li><a href="@Url.Action("Category_Bosch", "Category", new { cate_id = category.CATEGORY_ID })"><i class="fa fa-chevron-right" aria-hidden="true"></i> @category.CATEGORY_NAME</a></li>
                            }                       
                        </ul>
                    </li>
                    <li class="show-on-hover">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Phụ kiện <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" style="width: 300px;">
                            @foreach (var category in m_lstAccessory)
                            {
                                <li><a href="@Url.Action("Accessory_Bosch", "Category", new { cate_id = category.CATEGORY_ID })"><i class="fa fa-chevron-right" aria-hidden="true"></i> @category.CATEGORY_NAME</a></li>
                            }
                        </ul>
                    </li>
                    <li class="show-on-hover">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tin tức & khuyến mãi <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" style="width: 300px;">
                            <li><a href="@Url.Action("News_Bosch", "News")"><i class="fa fa-chevron-right" aria-hidden="true"></i> Tin tức</a></li>
                            <li><a href="@Url.Action("News_Bosch_Promotion", "News")"><i class="fa fa-chevron-right" aria-hidden="true"></i> Khuyến mãi</a></li>
                        </ul>
                    </li>
                    <li class="show-on-hover">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dịch vụ <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" style="width: 300px;">
                            <li><a href="@Url.Action("PrivacyPolicy", "Home")"><i class="fa fa-chevron-right" aria-hidden="true"></i> Chính sách bảo mật</a></li>
                            <li><a href="@Url.Action("ShippingPolicy", "Home")"><i class="fa fa-chevron-right" aria-hidden="true"></i> Chính sách vận chuyển</a></li>
                            <li><a href="@Url.Action("OrderProcessing", "Home")"><i class="fa fa-chevron-right" aria-hidden="true"></i> Quy trình giao hàng</a></li>
                            <li><a href="@Url.Action("ReturnPolicy", "Home")"><i class="fa fa-chevron-right" aria-hidden="true"></i> Chính sách đổi trả</a></li>
                            <li><a href="@Url.Action("GuideShoping", "Home")"><i class="fa fa-chevron-right" aria-hidden="true"></i> Hướng dẫn</a></li>
                            <li><a href="@Url.Action("ContactUs", "Home")"><i class="fa fa-chevron-right" aria-hidden="true"></i> Liên hệ</a></li>
                            <li><a href="@Url.Action("CheckBill", "Order")"><i class="fa fa-chevron-right" aria-hidden="true"></i> Kiểm tra đơn hàng</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Agency_Bosch", "Agencies")">Đại lý chi nhánh</a></li>
                </ul>
        </nav>
    </div>
    <!-- MAIN CONTENT-->
    <div id="Main-Content">

        <!--LOGIN AND REGISTER MODAL -->
        @Html.Partial("~/Views/Partial/LoginRegister.cshtml")
        <!--END LOGIN AND REGISTER MODAL -->
  
        @RenderBody()
    </div>

    <div class="scroll-top-wrapper ">
        <span class="scroll-top-inner">
            <i class="fa fa-2x fa-arrow-circle-up"></i>
        </span>
    </div>
    <style>
        .btnShopNow {
            width: 100%;
            background-color: #013B69 !important;
        }
            .btnShopNow:hover {
                width: 100%;
                background-color: #F37232 !important;
            }
        .dropdown-menu a {
            color: black !important;
            border: 0 !important;
            font-weight: normal !important;
        } 
        #Main-Content {
            margin: 0 auto;
            width: 1002px;
        }
    </style>

    <style>
        body {
            background: url("/Content/Page_Layout/img/boschback.png");
        }
        .show-on-hover:hover > ul.dropdown-menu {
            display: block;
        }
        #Top-Bar-Bosch {
            background: url("/Content/Page_Layout/img/topmenu.png") repeat-x 0 0;
            font-size: 12px;
            height: 32px;
            min-height: 30px;
        }
            #Top-Bar-Bosch a:hover {
                color: #003B6A;
                background: #E9E9E9;
            } 
            #Top-Bar-Bosch .active a {
                color: #003B6A;
            }
            #Top-Bar-Bosch a {
                font-size: 12px;
                height: 30px;
                font-weight: bold;
                padding-top: 4px;
                color: white;
                border-right: 1px solid #003B6A;
            }
        #Logo-Bosch {
            margin-top: 7px;
        }
        #Top-Menu-Bosch {
            background: none repeat scroll 0 0 white;
            height: 121px;
            margin: 30px auto;
            padding: 0 10px 10px 10px;
            width: 1002px;
            margin-bottom: 0;
            z-index: 2;
            position: relative;
        }
        .scroll-top-wrapper {
            position: fixed;
            opacity: 0;
            visibility: hidden;
            overflow: hidden;
            text-align: center;
            z-index: 99999999;
            background-color: #777777;
            color: #eeeeee;
            width: 50px;
            height: 48px;
            line-height: 48px;
            right: 10px;
            bottom: 30px;
            padding-top: 2px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
        }

            .scroll-top-wrapper:hover {
                background-color: #888888;
            }

            .scroll-top-wrapper.show {
                visibility: visible;
                cursor: pointer;
                opacity: 1.0;
            }

            .scroll-top-wrapper i.fa {
                line-height: inherit;
            }
    </style>
    <script>
        $(document).ready(function () {

            $(function () {

                $(document).on('scroll', function () {

                    if ($(window).scrollTop() > 100) {
                        $('.scroll-top-wrapper').addClass('show');
                    } else {
                        $('.scroll-top-wrapper').removeClass('show');
                    }
                });

                $('.scroll-top-wrapper').on('click', scrollToTop);
            });
            
            function scrollToTop() {
                verticalOffset = typeof (verticalOffset) != 'undefined' ? verticalOffset : 0;
                element = $('body');
                offset = element.offset();
                offsetTop = offset.top;
                $('html, body').animate({ scrollTop: offsetTop }, 500, 'linear');
            }

        });

    </script>
    <script>
        function AddProduct(obj) {
            var num = 1;
            var id = $(obj).data("id");
            var code = $(obj).data("code");
            num = $('.numProduct').val();
            if (num == null) num = 1;
            if (num > 20) {
                alert('Bạn nhập số quá lớn, vui lòng nhập số lượng dưới 20.')
            }
            else {
                $.ajax({
                    url: '/ShoppingCart/AddProductToShoppingCart?id=' + id + '&quantity=' + num,
                    dataType: "html",
                    type: "POST",
                    contentType: 'application/html; charset=utf-8',
                    success: function (data) {
                        $("#numProduct").html(data)
                        alert("Đã thêm sản phẩm " + code + " vào giỏ hàng.");
                    },
                    error: function (xhr) {

                    }
                });
            }
        }
    </script>


    <footer>
        <div class="footer" id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4  col-md-2 col-sm-4 col-xs-6">
                        <h3> CÔNG TY TNHH TM TUẤN GIA MINH </h3>
                        <ul>
                            <li>
                                <div class="col-sm-1">
                                    <span class="glyphicon glyphicon-home"></span>
                                </div>
                                Tầng trệt 18A Vạn Tượng, P.13, Q.5, TP.HCM
                            </li>

                            <li>
                                <div class="col-sm-1">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                                Showroom: 171 Gia Phú, P.1, Q.6, TP.HCM
                            </li>

                            <li>
                                <div class="col-sm-1">
                                    <span class="glyphicon glyphicon-phone-alt"></span>
                                </div>
                                (08) 38 591 896
                            </li>

                            <li>
                                <div class="col-sm-1">
                                    <span class="glyphicon glyphicon-phone"></span>
                                </div>
                                091 9977 926 - 090 2333 949
                            </li>

                            <li>
                                <div class="col-sm-1">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </div>
                                info@tgmco.com.vn
                            </li>


                        </ul>
                    </div>

                    <div class="col-lg-3  col-md-2 col-sm-4 col-xs-6">
                        <h3> CHÍNH SÁCH BÁN HÀNG </h3>
                        <ul>
                            <li> <a href="#"> Chính sách bảo mật thông tin  </a> </li>
                            <li> <a href="#"> Chính sách vận chuyển  </a> </li>
                            <li> <a href="#"> Quy trình giao hàng  </a> </li>
                            <li> <a href="#"> Chính sách đổi trả hàng  </a> </li>
                        </ul>
                    </div>
                    <div class="col-lg-3  col-md-2 col-sm-4 col-xs-6">
                        <h3> HỖ TRỢ KHÁCH HÀNG </h3>
                        <ul>
                            <li> <a href="#"> Hướng dẫn mua hàng  </a> </li>
                            <li> <a href="#"> Hướng dẫn thanh toán  </a> </li>
                            <li> <a href="#"> Các hình thức mua hàng  </a> </li>
                            <li> <a href="#"> Sơ đồ đường đi  </a> </li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3 col-sm-6 col-xs-12 ">
                        <h3> LIÊN HỆ </h3>
                        <ul></ul>
                        <ul class="social">
                            <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-skype">   </i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                        </ul>
                    </div>
                </div>
                <!--/.row-->
            </div>
            <!--/.container-->
        </div>
        <!--/.footer-->

        <div class="footer-bottom">
            <div class="container">
                <p class="pull-left"> Copyright © 2016.TGM All right reserved. </p>
                <div class="pull-right">
                    <ul class="nav nav-pills payments">
                        <li><i class="fa fa-cc-visa"></i></li>
                        <li><i class="fa fa-cc-mastercard"></i></li>
                        <li><i class="fa fa-cc-amex"></i></li>
                        <li><i class="fa fa-cc-paypal"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/.footer-bottom-->
    </footer>



    <script lang="javascript">(function () { var pname = ((document.title != '') ? document.title : document.querySelector('meta[property="og:title"]').getAttribute('content')); var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.src = '//live.vnpgroup.net/js/web_client_box.php?hash=68d46082ba3e9658febe7e66bbafeefa&data=eyJoYXNoIjoiMTI0ZTVhOWQ4MTk0MDNjNTdjZjFkYThmMTdhM2FjYWIiLCJzc29faWQiOjM3MzQwNzZ9&pname=' + pname; var s = document.getElementsByTagName('script'); s[0].parentNode.insertBefore(ga, s[0]); })();</script><noscript><a href="http://www.vatgia.com" title="vatgia.com" target="_blank">Tài trợ bởi vatgia.com</a></noscript><noscript><a href="http://vchat.vn" title="vchat.vn" target="_blank">Phát triển bởi vchat.vn</a></noscript>
</body>
</html>