@model List<TGMCO.Models.ORDER>
@using TGMCO.Models.Entity;

@{
    ViewBag.Title = "ManagingOrders";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    SupplierModel m_SUPPLIER_MODEL = new SupplierModel();
    CategoryModel m_CATEGORY_MODEL = new CategoryModel();
    CategoryExtraModel m_CATEGORY_EXTRA_MODEL = new CategoryExtraModel();
    ProductModel m_PRODUCT_MODEL = new ProductModel();
}


@section Page_Header {
    <h1>
        QUẢN LÝ ĐƠN HÀNG
        <small>Xác nhận, hủy, cập nhập</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}
<div class="jquery-script-clear"></div>
<div class="table-responsive" id="categories">
    <div class="btn-group col-lg-5">
        <a type="button" href="@Url.Action("ManagingOrders", "Admin", new { order_status_id = 1, Time = TempData["Time"] })" class="btn btn-success btn-filter" data-target="stt-1">Đã giao hàng</a>
        <a type="button" href="@Url.Action("ManagingOrders", "Admin", new { order_status_id = 2, Time = TempData["Time"] })" class="btn btn-warning btn-filter" data-target="stt-2">Chưa giao hàng</a>
        <a type="button" href="@Url.Action("ManagingOrders", "Admin", new { order_status_id = 3, Time = TempData["Time"] })" class="btn btn-danger btn-filter" data-target="stt-3">Chưa thanh toán</a>
        <a type="button" href="@Url.Action("ManagingOrders", "Admin", new { order_status_id = 4, Time = TempData["Time"] })" class="btn btn-default btn-filter" data-target="all">Đơn đã hủy</a>
    </div>
    <div class="col-lg-3">
        <form role="form" method="get" action="@Url.Action("ManagingOrders", "Admin")">
            <div class="col-lg-6">
                <input style="display: none;" value="@TempData["Status_Id"]" name="order_status_id" />
                <select class="form-control" id="sel1" name="Time" >
                    @switch(int.Parse(TempData["Time"].ToString()))
                    {
                        case 1:
                                <option value="1" selected>Hôm nay</option>
                                <option value="7">7 ngày</option>
                                <option value="30">30 ngày</option>
                                <option value="0">Tất cả</option>
                            break;
                        case 7:
                                <option value="1">Hôm nay</option>
                                <option value="7" selected>7 ngày</option>
                                <option value="30">30 ngày</option>
                                <option value="0">Tất cả</option>                        
                            break;
                        case 30:
                                <option value="1">Hôm nay</option>
                                <option value="7">7 ngày</option>
                                <option value="30" selected>30 ngày</option>
                                <option value="0">Tất cả</option>                       
                            break;
                        case 0:
                                <option value="1">Hôm nay</option>
                                <option value="7">7 ngày</option>
                                <option value="30">30 ngày</option>
                                <option value="0" selected>Tất cả</option>                       
                            break;
                    }
                </select>
            </div>
            <div class="col-lg-6">
                <button class="btn btn-info btn-md" type="submit">Lọc hóa đơn</button>
            </div>
        </form>
    </div>
    <div style="float: right;">
        <input class="search form-control" placeholder="Tìm kiếm theo mã, code, tên người dùng..." style="width: 300px;" />
    </div>
    @{
        if (@TempData["Success"] != null)
        {
            <div class="alert alert-success alert-dismissable" style="margin-top: 40px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4>	<i class="icon fa fa-check"></i> Thao tác thành công !</h4>
                @TempData["Success"]
            </div>
        }
    }


        <div id="first-container">
            
@if (TempData["Status_Id"].ToString().Equals("3")) // Chưa thanh toán
{
        <table id="table" class="table table-hover">
            <thead>
                <tr>
                    <th style="width:100px;" class="sort" data-sort="id">Mã đơn</th>
                    <th class="sort" data-sort="name">Mã Code</th>
                    <th class="sort" data-sort="supplier">Tên người đặt</th>
                    <th class="sort" data-sort="category">Ngày đặt</th>
                    <th class="sort" data-sort="category">Số điện thoại</th>
                    <th class="sort" data-sort="price">Tổng tiền</th>
                    <th style="width:210px;"></th>
                </tr>
            </thead>
            <tbody class="list">
                @foreach (var order in Model)
                {
                    <tr id="row_@order.ORDER_ID" class="danger">
                        <td class="id">#VNT-@order.ORDER_ID</td>
                        <td class="id">@order.ORDER_CODE</td>
                        <td class="name">@order.SHIP_NAME</td>
                        <td class="supplier">@order.ORDER_DATE.ToString("dd-MM-yyyy")</td>
                        <td class="category">@order.SHIP_PHONE</td>
                        <td class="categoryextra">@string.Format("{0:0,0}", @order.SUBTOTAL)</td>
                        <td class="btn-group">
                            <button data-ajax="true" onclick="OrderDelivery(this)" data-toggle="modal" data-target="#OrderDelivery" type="button" id="btnOrder" data-id="@order.ORDER_ID" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></button>
                            <a data-ajax="true" href="/Order/UpdateStatusOrder/?id=@order.ORDER_ID&status_id=2" type="button" data-ajax-confirm="Bạn có muốn chuyển trạng thái đơn #VNT-@order.ORDER_ID thành 'Đã thanh toán - Chưa giao hàng' không?" data-ajax-complete="location.reload()" data-ajax-method="Post" class="btn btn-warning"><span class="glyphicon glyphicon-usd"></span></a>
                            <a data-ajax="true" href="/Order/UpdateStatusOrder/?id=@order.ORDER_ID&status_id=4" type="button" data-ajax-confirm="Bạn có muốn hủy đơn hàng #VNT-@order.ORDER_ID không?" data-ajax-complete="location.reload()" data-ajax-method="Post" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></a>
                            <button data-ajax="true" onclick="OrderDetails(this)" data-toggle="modal" data-target="#myModal" type="button" id="btnOrder" data-id="@order.ORDER_ID" class="btn btn-info">Chi tiết</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
}
else if (TempData["Status_Id"].ToString().Equals("4")) // Đơn hủy bỏ
{
        <table id="table" class="table table-hover">
            <thead>
                <tr>
                    <th style="width:100px;" class="sort" data-sort="id">Mã đơn</th>
                    <th class="sort" data-sort="name">Mã Code</th>
                    <th class="sort" data-sort="supplier">Tên người đặt</th>
                    <th class="sort" data-sort="category">Ngày đặt</th>
                    <th class="sort" data-sort="category">Số điện thoại</th>
                    <th class="sort" data-sort="price">Tổng tiền</th>
                    <th style="width:210px;"></th>
                </tr>
            </thead>
            <tbody class="list">
                @foreach (var order in Model)
                {
                    <tr id="row_@order.ORDER_ID" class="">
                        <td class="id">#VNT-@order.ORDER_ID</td>
                        <td class="id">@order.ORDER_CODE</td>
                        <td class="name">@order.SHIP_NAME</td>
                        <td class="supplier">@order.ORDER_DATE.ToString("dd-MM-yyyy")</td>
                        <td class="category">@order.SHIP_PHONE</td>
                        <td class="categoryextra">@string.Format("{0:0,0}", @order.SUBTOTAL)</td>
                        <td class="btn-group">
                            <button data-ajax="true" onclick="OrderDelivery(this)" data-toggle="modal" data-target="#OrderDelivery" type="button" id="btnOrder" data-id="@order.ORDER_ID" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></button>
                            <a data-ajax="true" href="/Order/UpdateStatusOrder/?id=@order.ORDER_ID&status_id=2" type="button" data-ajax-confirm="Bạn có muốn chuyển trạng thái đơn #VNT-@order.ORDER_ID thành 'Đã thanh toán - Chưa giao hàng' không?" data-ajax-complete="location.reload()" data-ajax-method="Post" class="btn btn-warning"><span class="glyphicon glyphicon-usd"></span></a>
                            <a data-ajax="true" href="/Order/UpdateStatusOrder/?id=@order.ORDER_ID&status_id=3" type="button" data-ajax-confirm="Bạn có muốn phục hồi lại đơn hàng #VNT-@order.ORDER_ID không?" data-ajax-complete="location.reload()" data-ajax-method="Post" class="btn btn-danger"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                            <button data-ajax="true" onclick="OrderDetails(this)" data-toggle="modal" data-target="#myModal" type="button" id="btnOrder" data-id="@order.ORDER_ID" class="btn btn-info">Chi tiết</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
}
else if (TempData["Status_Id"].ToString().Equals("2")) // Đã thanh toán - chưa giao hàng
{
    <table id="table" class="table table-hover">
        <thead>
            <tr>
                <th style="width:100px;" class="sort" data-sort="id">Mã đơn</th>
                <th class="sort" data-sort="name">Mã Code</th>
                <th class="sort" data-sort="supplier">Tên người đặt</th>
                <th class="sort" data-sort="category">Ngày đặt</th>
                <th class="sort" data-sort="category">Số điện thoại</th>
                <th class="sort" data-sort="price">Tổng tiền</th>
                <th>Địa chỉ</th>
                <th style="width:210px;"></th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var order in Model)
            {
                <tr id="row_@order.ORDER_ID" class="warning">
                    <td class="id">#VNT-@order.ORDER_ID</td>
                    <td class="id">@order.ORDER_CODE</td>
                    <td class="name">@order.SHIP_NAME</td>
                    <td class="supplier">@order.ORDER_DATE.ToString("dd-MM-yyyy")</td>
                    <td class="category">@order.SHIP_PHONE</td>
                    <td class="categoryextra">@string.Format("{0:0,0}", @order.SUBTOTAL)</td>
                    <td class="address">@order.SHIP_ADDRESS</td>
                    <td class="btn-group">
                        <button data-ajax="true" onclick="OrderDelivery(this)" data-toggle="modal" data-target="#OrderDelivery" type="button" id="btnOrder" data-id="@order.ORDER_ID" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></button>
                        <a data-ajax="true" href="/Order/UpdateStatusOrder/?id=@order.ORDER_ID&status_id=3" type="button" data-ajax-confirm="Bạn có muốn chuyển trạng thái đơn #VNT-@order.ORDER_ID thành 'Chưa thanh toán' không?" data-ajax-complete="location.reload()" data-ajax-method="Post" class="btn btn-danger"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                        <a data-ajax="true" href="/Order/UpdateStatusOrder/?id=@order.ORDER_ID&status_id=4" type="button" data-ajax-confirm="Bạn có muốn hủy đơn hàng #VNT-@order.ORDER_ID không?" data-ajax-complete="location.reload()" data-ajax-method="Post" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></a>
                        <button data-ajax="true" onclick="OrderDetails(this)" data-toggle="modal" data-target="#myModal" type="button" id="btnOrder" data-id="@order.ORDER_ID" class="btn btn-info">Chi tiết</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (TempData["Status_Id"].ToString().Equals("1")) // Đã giao hàng
{
    <table id="table" class="table table-hover">
        <thead>
            <tr>
                <th style="width:100px;" class="sort" data-sort="id">Mã đơn</th>
                <th class="sort" data-sort="name">Mã Code</th>
                <th class="sort" data-sort="supplier">Tên người đặt</th>
                <th class="sort" data-sort="category">Ngày đặt</th>
                <th class="sort" data-sort="">Mã giao hàng</th>
                <th class="sort" data-sort="">Ngày giao hàng</th>
                <th class="sort" data-sort="">Ghi chú</th>
                <th class="sort" data-sort="category">Số điện thoại</th>
                <th class="sort" data-sort="price">Tổng tiền</th>
                <th style="width:210px;"></th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var order in Model)
            {
                <tr id="row_@order.ORDER_ID" class="success">
                    <td class="id">#VNT-@order.ORDER_ID</td>
                    <td class="id">@order.ORDER_CODE</td>
                    <td class="name">@order.SHIP_NAME</td>
                    <td class="supplier">@order.ORDER_DATE.ToString("dd-MM-yyyy")</td>
                    <td class="">@order.SHIP_CODE</td>
                    <td class="">@order.SHIPPED_DATE.GetValueOrDefault().ToString("dd-MM-yyyy")</td>
                    <td class="">@order.NOTE_EMPLOYEE</td>
                    <td class="category">@order.SHIP_PHONE</td>
                    <td class="categoryextra">@string.Format("{0:0,0}", @order.SUBTOTAL)</td>
                    <td class="btn-group">
                        <a data-ajax="true" href="/Order/UpdateStatusOrder/?id=@order.ORDER_ID&status_id=2" type="button" data-ajax-confirm="Bạn có muốn chuyển trạng thái đơn #VNT-@order.ORDER_ID thành 'Đã thanh toán - Chưa giao hàng' không?" data-ajax-complete="location.reload()" data-ajax-method="Post" class="btn btn-warning"><span class="glyphicon glyphicon-usd"></span></a>
                        <a data-ajax="true" href="/Order/UpdateStatusOrder/?id=@order.ORDER_ID&status_id=3" type="button" data-ajax-confirm="Bạn có muốn chuyển trạng thái đơn #VNT-@order.ORDER_ID thành 'Chưa thanh toán' không?" data-ajax-complete="location.reload()" data-ajax-method="Post" class="btn btn-danger"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                        <a data-ajax="true" href="/Order/UpdateStatusOrder/?id=@order.ORDER_ID&status_id=4" type="button" data-ajax-confirm="Bạn có muốn hủy đơn hàng #VNT-@order.ORDER_ID không?" data-ajax-complete="location.reload()" data-ajax-method="Post" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></a>
                        <button data-ajax="true" onclick="OrderDetails(this)" data-toggle="modal" data-target="#myModal" type="button" id="btnOrder" data-id="@order.ORDER_ID" class="btn btn-info">Chi tiết</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (Model.Count == 0)
{
    <h3  style="text-align: center;">
        <strong>Không có đơn hàng nào...</strong>
    </h3>
}  

        <div style="margin-left: 500px;">
            <div class="my-navigation">
                <div class="simple-pagination-first"></div>
                <div class="simple-pagination-previous"></div>
                <div class="simple-pagination-page-numbers"></div>
                <div class="simple-pagination-next"></div>
                <div class="simple-pagination-last"></div>
            </div>
            <div class="simple-pagination-page-x-of-x"></div>
            <div class="simple-pagination-showing-x-of-x"></div>
            <div>
                Display <select class="simple-pagination-items-per-page"></select> items per page.
            </div>
            <div>
                Go directly to page <select class="simple-pagination-select-specific-page"></select>.
            </div>
        </div>
    </div>
 
    


</div>

<div class="modal fade" id="OrderDelivery" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fa fa-spinner fa-spin"></i> Đang tải dữ liệu</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fa fa-spinner fa-spin"></i> Đang tải dữ liệu hóa đơn</h4>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function OrderDetails(obj) {
        var id = $(obj).data("id");        
            $.ajax({
                url: '/Partial/OrderDetails?order_id=' + id,
                dataType: "html",
                type: "POST",
                contentType: 'application/html; charset=utf-8',
                success: function (data) {
                    $("#myModal").html(data)
                },
                error: function (xhr) {

                }
            });
    }

    function OrderDelivery(obj) {
        var id = $(obj).data("id");
        $.ajax({
            url: '/Partial/OrderDelivery?order_id=' + id,
            dataType: "html",
            type: "POST",
            contentType: 'application/html; charset=utf-8',
            success: function (data) {
                $("#OrderDelivery").html(data)
            },
            error: function (xhr) {

            }
        });
    }
</script>

@section masterjs{
    <style>
        #table th:hover {
            cursor: pointer;
        }

        .simple-pagination-page-numbers a {
            display: block;
            float: left;
            width: 2rem;
            text-align: center;
        }

        .my-navigation:after {
            content: "";
            display: table;
            clear: both;
        }

        .my-navigation div {
            float: left;
        }

            .my-navigation div + div {
                margin-left: .5rem;
            }
    </style>

}
@section footerjs{
    <script src="~/Content/Admin_Layout/js/jquery-simple-pagination-plugin.js"></script>
    <script>
        (function ($) {

            $('#first-container').simplePagination({
                items_per_page: 100
            });

        })(jQuery);
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js"></script>
    <script>
        var options = {
            valueNames: ['name', 'id', 'supplier', 'category', 'categoryextra', 'price']
        };

        var userList = new List('categories', options);
    </script>
}