@using TGMCO.Models;
@using TGMCO.Models.Entity;

@model PRODUCT

@{
    ViewBag.Title = "Tuấn Gia Minh | " + Model.PRODUCT_NAME;
    Layout = "~/Views/Shared/_PageLayout.cshtml";
    ViewBag.Description = "VietNamTool | " + Model.PRODUCT_NAME + " - " + Model.FEATURED + " - " + string.Format("{0:0,0}", Model.UNIT_PRICE) + " VNĐ.";
    
}

@{
    if (Session["SUPPLIER"] != null)
    {
        if (Session["SUPPLIER"].ToString().Equals("MAKITA"))
        {
            <style>
                h1, .wizard-inner, .panel.with-nav-tabs .panel-heading {
                    background-color: #018A9C !important;
                    color: white;
                }

                .btnShopNow {
                    background-color: #018A9C !important;
                }

                    .btnShopNow:hover {
                        background-color: #084C51 !important;
                    }

                .divider {
                    border: 1px solid #084C51 !important;
                }
            </style>
        }
        else if (Session["SUPPLIER"].ToString().Equals("BOSCH"))
        {
            <style>
                h1, .wizard-inner, .panel.with-nav-tabs .panel-heading {
                    background-color: #013B69 !important;
                    color: white;
                }

                .btnShopNow {
                    background-color: #013B69 !important;
                }

                    .btnShopNow:hover {
                        background-color: #084C51 !important;
                    }

                .divider {
                    border: 1px solid #013B69 !important;
                }
            </style>
        }
    }
    ProductModel m_PRODUCT = new ProductModel();
    SupplierModel m_SUPPLIER_MODEL = new SupplierModel();
    SUPPLIER m_SUPPLIER = (SUPPLIER)Session["SUPPLIER_MODEL"];
}

@section LeftMenu{
    <div id="Left-Menu">
        <div class="nav-side-menu">
            <div class="brand makita-menu-header"><strong> MENU </strong></div>
            <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

            <div class="menu-list">

                <ul id="menu-content" class="menu-content collapse out">
                    <li data-toggle="collapse" data-target="#abcde" class="collapsed">
                        <a><i class="fa fa-globe fa-lg"></i> TRANG CHỦ MAKITA </a>
                    </li>
                    <li data-toggle="collapse" data-target="#abcde" class="collapsed">
                        <a><i class="fa fa-globe fa-lg"></i> SẢN PHẨM MỚI </a>
                    </li>
                    <li data-toggle="collapse" data-target="#service" class="collapsed">
                        <a><i class="fa fa-globe fa-lg"></i> PHỤ KIỆN <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="service">
                        <li>Máy khoan</li>
                        <li>Máy mài</li>
                        <li>Máy cưa</li>
                        <li>Máy cắt </li>
                        <li>Máy bào</li>
                    </ul>

                    <li data-toggle="collapse" data-target="#abcd" class="collapsed">
                        <a><i class="fa fa-globe fa-lg"></i> CÔNG NGHỆ <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="abcd">
                        <li>Công nghệ AVT</li>
                        <li>Công nghệ MM4</li>
                        <li>Công nghệ LXT</li>
                        <li>Công nghệ DXT </li>
                        <li>Công nghệ XPT</li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>

    @{
        Html.RenderAction("CategoryMenu", "Partial", new { id = m_SUPPLIER.SUPPLIER_ID });
    }
}
<h1 style="padding-top: 0; margin-top: 0;margin-bottom: 5px; font-size: 25px;text-align:center;">@Model.PRODUCT_CODE</h1>
<div class="col-md-6">

    <div class="product-title"> @Model.PRODUCT_NAME</div>
    <div class="divider"></div>
    <br />
    <table class="product-desc">
        <tbody>
            <tr>
                <td>Mã sản phẩm: </td>
                <td class="col-lg-6">@Model.PRODUCT_CODE</td>
            </tr>
            <tr>
                <td>Nhà sản xuất: </td>
                <td class="col-lg-6">@m_SUPPLIER_MODEL.GetSupplierName(Model.SUPPLIER_ID)</td>
            </tr>
            <tr>
                <td>Xuất xứ: </td>
                <td class="col-lg-6">@Model.MADE_IN</td>
            </tr>
            <tr>
                <td>Tình trạng: </td>
                @{
                    if (Model.IS_STILL)
                    {
                        <td class="col-lg-6"><small class="label label-success pull-left">Còn hàng</small></td>
                    }
                    else
                    {
                        <td class="col-lg-6"><small class="label label-danger pull-left">Hết hàng</small></td>

                    }
                }
            </tr>
            <tr>
                <td>Bảo hành: </td>
                <td class="col-lg-6">@Model.WARRANTY</td>
            </tr>
            <tr>
                <td>Trọng lượng: </td>
                <td class="col-lg-6">@Model.WEIGHT</td>
            </tr>
            <tr>
                <td>Giá: </td>
                <td class="col-lg-6"><small class="label product-price label-info pull-left">@string.Format("{0:0,0}", @Model.UNIT_PRICE) VNĐ</small></td>
            </tr>
            <tr>
                <td>
                    Số lượng:
                </td>
                <td class="col-lg-6 product-rating">
                    <input type="number" id="numProduct" class="form-control text-center numProduct" pattern="[0-9]" required value="1" max="10">
                </td>
            </tr>
            <tr>
                <td>
                    <!-- AddToAny BEGIN -->
                    <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                        <a class="a2a_dd" href="@Request.RawUrl"></a>
                        <a class="a2a_button_facebook"></a>
                        <a class="a2a_button_google_plus"></a>
                        <a class="a2a_button_google_gmail"></a>
                    </div>
                    <script>
                        var a2a_config = a2a_config || {};
                        a2a_config.locale = "vi";
                    </script>
                    <script async src="https://static.addtoany.com/menu/page.js"></script>
                    <!-- AddToAny END -->
                    <!--<div class="fb-share-button" data-href="@Request.RawUrl" data-layout="button_count" data-mobile-iframe="true"></div>-->
                </td>
                <td class="product-stock col-lg-6">
                    <button type="button" onclick="AddProduct(this)" id="btnAddProduct" data-ajax="true" data-id="@Model.PRODUCT_ID" data-code="@Model.PRODUCT_CODE" class="btn btn-default btnShopNow" aria-label="Left Align">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> <strong>Thêm vào giỏ</strong>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <br />

</div>
<div class="col-md-6">
    <div class="product col-md-10 service-image-left">
        <center>
            <img id="item-display" src="@Url.Content(@m_PRODUCT.GetImage1(@Model.PRODUCT_ID))" alt="" />
        </center>
    </div>

</div>
<div class="col-md-12">
    <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1default" data-toggle="tab">CHI TIẾT KỸ THUẬT</a></li>
                <li><a href="#tab2default" data-toggle="tab">ĐẶC TRƯNG</a></li>
                <li><a href="#tab3default" data-toggle="tab">PHỤ KIỆN ĐI KÈM</a></li>
                <li><a href="#tab4default" data-toggle="tab">FILES ĐÍNH KÈM</a></li>
                <li><a href="#tab5default" data-toggle="tab">BÌNH LUẬN</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1default">@Html.Raw(Model.DESCRIPTION.Replace(Environment.NewLine, "<br/>"))</div>
                <div class="tab-pane fade" id="tab2default">@Model.FEATURED</div>
                <div class="tab-pane fade" id="tab3default">@Model.ACCESSORIES</div>
                <div class="tab-pane fade" id="tab4default">
                    <ul>
                        @if (@m_PRODUCT.GetFile1(@Model.PRODUCT_ID) != "#")
                        {
                                                    <li>
                            <a target="_blank" href="@Url.Content(@m_PRODUCT.GetFile1(@Model.PRODUCT_ID))" title="FILES1">
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                Parts Diagram
                            </a>
                        </li>
                        }
                        @if (@m_PRODUCT.GetFile2(@Model.PRODUCT_ID) != "#")
                        {
                        <li>
                            <a target="_blank" href="@Url.Content(@m_PRODUCT.GetFile2(@Model.PRODUCT_ID))" title="FILES2">
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                Parts List
                            </a>
                        </li>
                        }
                        @if (@m_PRODUCT.GetFile3(@Model.PRODUCT_ID) != "#")
                        {
                        <li>
                            <a target="_blank" href="@Url.Content(@m_PRODUCT.GetFile3(@Model.PRODUCT_ID))" title="FILES3">
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                Introduction Manual
                            </a>
                        </li>
                        }
                    </ul>
                </div>
                <div class="tab-pane fade" id="tab5default">
                    <div class="fb-comments" data-href="@Url.Content("https://developers.facebook.com/docs/plugins/comments#" + @Request.RawUrl)" data-width="784" data-numposts="5"></div>
                </div>
            </div>
        </div>
    </div>
</div>



@section RightContent{
    <img class="ads-right" src="~/Content/Page_Layout/img/lienhequangcao.jpg" width="238">
    <img class="ads-right" src="~/Content/Page_Layout/img/lienhequangcao.jpg" width="238">
    <img class="ads-right" src="~/Content/Page_Layout/img/lienhequangcao.jpg" width="238">
    <img class="ads-right" src="~/Content/Page_Layout/img/lienhequangcao.jpg" width="238">
}

<style>
    .panel.with-nav-tabs .panel-heading {
        padding: 5px 5px 0 5px;
        background-color: #FED208;
        font-weight: bold;
    }

    .panel.with-nav-tabs .nav-tabs {
        border-bottom: none;
    }

    .panel.with-nav-tabs .nav-justified {
        margin-bottom: -1px;
    }

    .with-nav-tabs.panel-default .nav-tabs > li > a,
    .with-nav-tabs.panel-default .nav-tabs > li > a:hover,
    .with-nav-tabs.panel-default .nav-tabs > li > a:focus {
        color: white;
    }

        .with-nav-tabs.panel-default .nav-tabs > .open > a,
        .with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
        .with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
        .with-nav-tabs.panel-default .nav-tabs > li > a:hover,
        .with-nav-tabs.panel-default .nav-tabs > li > a:focus {
            color: white;
            background-color: #ddd;
            border-color: transparent;
        }

    .with-nav-tabs.panel-default .nav-tabs > li.active > a,
    .with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
    .with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
        color: #555;
        background-color: #fff;
        border-color: #ddd;
        border-bottom-color: transparent;
    }

    .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
        background-color: #f5f5f5;
        border-color: #ddd;
    }

        .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
            color: #777;
        }

            .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
            .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
                background-color: #ddd;
            }

        .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
        .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
        .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
            color: #fff;
            background-color: #555;
        }
</style>
<style>



    .service1-items {
        padding: 0px 0 0px 0;
        float: left;
        position: relative;
        overflow: hidden;
        max-width: 100%;
        height: 321px;
        width: 130px;
    }

    .service1-item {
        height: 107px;
        width: 120px;
        display: block;
        float: left;
        position: relative;
        padding-right: 20px;
        border-right: 1px solid #DDD;
        border-top: 1px solid #DDD;
        border-bottom: 1px solid #DDD;
    }

        .service1-item > img {
            max-height: 110px;
            max-width: 110px;
            opacity: 0.6;
            transition: all .2s ease-in;
            -o-transition: all .2s ease-in;
            -moz-transition: all .2s ease-in;
            -webkit-transition: all .2s ease-in;
        }

            .service1-item > img:hover {
                cursor: pointer;
                opacity: 1;
            }

    .service-image-left {
        padding: 10px;
        padding-top: 0;
        height: 100%;
    }

    .service-image-right {
        padding-left: 50px;
    }

        .service-image-left > center > img, .service-image-right > center > img {
            width: 100%;
        }

    .divider {
        border: 1px solid #FED208;
    }

    .product {
        border: 1px solid #dddddd;
        height: 321px;
    }

        .product > img {
            max-width: 277px;
        }

    .product-rating {
        width: 120px;
        padding-top: 5px;
    }

    .product-title {
        font-size: 20px;
    }

    .product-desc {
        font-size: 16px;
        margin-left: 10px;
        line-height: 1.5;
    }

    .product-price {
        font-size: 20px;
    }

    .product-stock {
        padding-top: 10px;
    }

    .product-info {
        padding-left: 50px;
    }
</style>

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.6&appId=1454298961531347";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<script>
    function resetImage(input) {
        input.value = '';
        input.onchange();
    }
    function readImage(input) {
        var receiver = input.nextElementSibling.nextElementSibling;
        input.setAttribute('title', input.value.replace(/^.*[\\/]/, ''));
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                receiver.style.backgroundImage = 'url(' + e.target.result + ')';
            };
            reader.readAsDataURL(input.files[0]);
        }
        else receiver.style.backgroundImage = 'none';
    }
</script>

<script>
    function AddProduct(obj) {
        var id = $(obj).data("id");
        var code = $(obj).data("code");
        var num = $('.numProduct').val();
        if (num > 20)
        {
            alert('Bạn nhập số quá lớn, vui lòng nhập số lượng dưới 20.')
        }
        else
        {
        $.ajax({
            url: '/ShoppingCart/AddProductToShoppingCart?id=' + id + '&quantity=' + num,
            dataType: "html",
            type: "POST",
            contentType: 'application/html; charset=utf-8',
            success: function (data) {
                $("#numProduct").html(data)
                alert("Đã thêm sản phẩm " + code + " vào giỏ hàng.");
            },
            error: function (xhr) {

            }
        });
        }
    }
</script>